appnope 
asttokens 
comm 
debugpy 
decorator 
executing 
ipykernel 
ipython 
jedi 
jupyter_client 
jupyter_core 
matplotlib-inline 
nest-asyncio 
platformdirs  
prompt-toolkit  
psutil  
ptyprocess  
pure-eval  
Pygments  
python-dateutil  
wcwidth  
pandas  
pickle